<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="layoutContent">
    
    <div class="sidebar-wrapper">
        
        <div class="sidebar-header">
            <img th:src="@{/images/prospire_logo.png}" alt="Pro-SPIRE ロゴ" class="sidebar-logo">
        </div>

        <nav class="sidebar">
            <ul class="menu-list">
                <li><a th:href="@{/top}">TOP</a></li>
                <li><a th:href="@{/top}">要員リスト</a></li> <!-- 暫定でTOPに遷移 -->
                <li><a th:href="@{/top}">予算登録</a></li> <!-- 暫定でTOPに遷移 -->
                <li><a th:href="@{/top}">見込修正</a></li> <!-- 暫定でTOPに遷移 -->
                <li sec:authorize="hasAnyAuthority('20', '99')"><a th:href="@{/achievements}">実績登録</a></li> <!-- 暫定でTOPに遷移 -->
                <li sec:authorize="hasAnyAuthority('00', '99')"><a th:href="@{/top}">予算FIX</a></li> <!-- 暫定でTOPに遷移 -->
            </ul>
        </nav>
        
        <div class="sidebar-footer">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-button">ログアウト</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>