<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.prospire.prospireweb.repository.ProspectMapper">
  
  <resultMap type="com.prospire.prospireweb.model.Prospect" id="prospect"><!--  id属性は任意の値 -->
  	<!--  columnはSQLのカラム　propertyはエンティティクラスのフィールド -->
    <result column="ki" property="ki"/>
    <result column="bu" property="bu"/>
    <result column="customer" property="customer"/>
    <result column="project" property="project"/>
    <result column="order_probability" property="orderProbability"/>
    <result column="order_m" property="orderM"/>
    <result column="record_m" property="recordM"/>
    <result column="expense_item" property="expenseItem"/>
    <result column="details" property="details"/>
    <result column="price" property="price"/>
    <result column="status" property="status"/>
    <result column="change_dete_flg" property="changeDeteFlg"/>
  </resultMap>
 
    <select id="selectProspectTbl" resultType="com.prospire.prospireweb.model.Prospect" parameterType="com.prospire.prospireweb.model.Prospect">
        SELECT
             ki
            ,bu
            ,customer
            ,project
            ,order_probability
            ,order_m
            ,record_m
            ,expense_item
            ,details
            ,price
            ,status
            ,change_dete_flg
        FROM
            tbl_prospect 
        <where>
          <if test="ki =! null"><!-- 対象期 -->
              AND ki = #{ki}
          </if>
          <if test="bu =! null"><!-- 部門 -->
              AND bu = #{bu}
          </if>
          <if test="customer =! null"><!-- 顧客 -->
              AND customer = #{customer}
          </if>
          <if test="project =! null"><!-- 案件名 -->
              AND project = #{project}
          </if>
          <if test="orderProbability =! null"><!-- 確度 -->
              AND order_probability = #{orderProbability}
          </if>
          <if test="orderM =! null"><!-- 受注月 -->
              AND order_m = #{orderM}
          </if>
          <if test="recordM =! null"><!-- 売上計上月 -->
              AND record_m = #{recordM}
          </if>
          <if test="expenseItem =! null"><!-- 費目 -->
              AND expense_item = #{expenseItem}
          </if>
          <if test="details =! null"><!-- 細目 -->
              AND details = #{details}
          </if>
          <if test="price =! null"><!-- 金額 -->
              AND price = #{price}
          </if>
          <if test="status =! null"><!-- 状況区分 -->
              AND status = #{status}
          </if>
          <if test="changeDeteFlg =! null"><!-- 変更判別フラグ -->
              AND change_dete_flg = #{changeDeteFlg}
          </if>
        </where>
    </select>

  </mapper>